<!DOCTYPE html>
	<html>
		<head>
			<title>Amber Danielle UX</title>
			<link rel="stylesheet" type="text/css" href="normalize.css">
			<link rel="stylesheet" type="text/css" href="style.css">
			<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
			<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900,400italic' rel='stylesheet' type='text/css'>
		</head>
			<body>
			<div class="mainwrap">
				<header>
					<div class="wrapper-header">
						<a href="index.html"><img class="logo" src="img/adlogowhitesm.png"/></a>
						<h1 class="second">AMBER DANIELLE</h1>
						<ul class='nav2'>
								<a href=""><li>ABOUT</li></a>
								<a href=""><li>WORK</li></a>
							</ul>
					</div>
				</header> 
					<a class="arrow prev" href="#" ng-click="nextSlide()"></a>
    				<a class="arrow next" href="#" ng-click="prevSlide()"></a>
					<div class='wrapperproject'>

						<div class="space">
						</div>
					
						<div class="leftside">
							<img class="propic" src="img/impact1.jpg"/>
							<img class="propic" src="img/impact2.jpg"/>
							<img class="propic" src="img/impact3.jpg"/>
							
						</div>
						<div class="bottomside2">
							<h3>Impact</h3>
							<h4>2013</h4>
							
						</div>

						<div class="bottomside3">
							<p class="description">Created a new brand called impact. It is a brand of shoe made specifically for athletes. Designed all of the branding and created a couple pages of the website.</p>
						</div>

					</div>
					
			</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-touch.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.10.3/TweenMax.min.js"></script>
<script src="/bower_components/angular-touch/angular-touch.js"></script>
<script src="js/app.js"></script>
			<body>

	</html>